<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Author</title>
  </head>
  <body>

<h1>New Author</h1>
<form action="authors" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="bio" placeholder="Bio">
  <button type="submit" name="button">Create</button>
</form>

  </body>
</html>
