<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New book</title>
  </head>
  <body>
    <h1>New Book</h1>
    <form action="/newbook" method="post">
      <input type="text" name="name" placeholder="Title of Book">
      <input type="text" name="description" placeholder="Description of Book">
      <input type="text" name="img_url" placeholder="img of url">
      <select name="author_id">
        <% for(let i = 0; i < authors.length; i++){ %>
          <option value="<%= authors[i].id %>"><%= authors[i].name %></option>
          <%  } %>
        </select>
      <input type="submit" name="" value="submit">
    </form>
    <a href="/authors">Add an Author</a>
  </body>
</html>
